## Python Arithmetic Operators

Arithmetic operators are used with numeric values to perform common mathematical operations:

Operator	Name	Example	Try it
+	    Addition	x + y	
-	    Subtraction	x - y	
*	    Multiplication	x * y	
/	    Division	x / y	
%	    Modulus 	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y

In [1]:
x = 17
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

8

## Python Assignment Operators
Python Assignment Operators

In [ ]:
#Operator	Example	    Same As	
=	        x = 5	    x = 5	
+=	        x += 3	    x = x + 3	
-=	        x -= 3	    x = x - 3	
*=	        x *= 3	    x = x * 3	
/=	        x /= 3	    x = x / 3	
%=	        x %= 3	    x = x % 3	
//=	        x //= 3	    x = x // 3	
**=	        x **= 3	    x = x ** 3	
&=	        x &= 3	    x = x & 3	
|=	        x |= 3  	x = x | 3	
^=	        x ^= 3	    x = x ^ 3	
>>=     	x >>= 3	    x = x >> 3	
<<=	        x <<= 3	    x = x << 3	
:=	  print(x := 3)	    x = 3
                        print(x)

## Python Comparison Operators
Comparison operators are used to compare two values:

In [ ]:
Operator	Name	      Example
==	      Equal 	      x == y	
!=	      Not equal	      x != y	
>	      Greater than	  x > y	
<	      Less than	      x < y	
>=	    Greater than or equal to	x >= y	
<=	    Less than or equal to	x <= y

## Python Logical Operators
Logical operators are used to combine conditional statements:

In [ ]:
Operator	                     Description	                                             Example	
and 	                Returns True if both statements are true	                     x < 5 and  x < 10	
or	                    Returns True if one of the statements is true	                 x < 5 or x < 4	
not                 	Reverse the result, returns False if the result is true	         not(x < 5 and x < 10)

## Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, 
with the same memory location:

In [ ]:
Operator                               Description	                                  Example	
is 	                     Returns True if both variables are the same object	          x is y	
is not	                 Returns True if both variables are not the same object	     x is not y

In [1]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [2]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

## Python Membership Operators
Membership operators are used to test if a sequence is presented in an object:

In [ ]:
Operator	                                           Description	                                                Example
in 	                           Returns True if a sequence with the specified value is present in the object 	    x in y	
not in	                       Returns True if a sequence with the specified value is not present in the object	    x not in y

In [3]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [4]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

## Python Bitwise Operators
Bitwise operators are used to compare (binary) numbers:

In [ ]:
Operator	       Name	                     Description	                                    Example
&                  AND	               each bit to 1 if both bits are 1	                         x & y	
|	               OR	               Sets each bit to 1 if one of two bits is 1	             x | y	
^	               XOR	               Sets each bit to 1 if only one of two bits is 1	         x ^ y	
~	               NOT	               Inverts all the bits	                                       ~x	
<<	       Zero fill left shift	       Shift left by pushing zeros in from the right             x << 2	
                                       and let the leftmost bits fall off	
>>	       Signed right shift	       Shift right by pushing copies of the leftmost bit         x >> 2	
                                       in from the left, and let the rightmost bits fall off

In [6]:
print(6 ^ 3)

"""
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

5

'\nThe ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n5 = 0000000000000101\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [7]:
print(8 >> 2)



"""
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

2

"\nThe >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.\n\nIf you move each bit 2 times to the right, 8 becomes 2:\n 8 = 0000000000001000\nbecomes\n 2 = 0000000000000010\n\nDecimal numbers and their binary values:\n 0 = 0000000000000000\n 1 = 0000000000000001\n 2 = 0000000000000010\n 3 = 0000000000000011\n 4 = 0000000000000100\n 5 = 0000000000000101\n 6 = 0000000000000110\n 7 = 0000000000000111\n 8 = 0000000000001000\n 9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n"

## The precedence order is described in the table below, starting with the highest precedence at the top:

In [ ]:
Operator	                                                           Description	
()	                                                                   Parentheses	
**	                                                                   Exponentiation	
+x  -x  ~x	                                                  Unary plus, unary minus, and bitwise NOT	
*  /  //  %	                                                  Multiplication, division, floor division, and modulus	
+  -	                                                      Addition and subtraction	
<<  >>	                                                      Bitwise left and right shifts	
&	                                                          Bitwise AND	
^	                                                          Bitwise XOR	
|	                                                          Bitwise OR	
==  !=  >  >=  <  <=  is  is not  in  not in 	              Comparisons, identity, and membership operators	
not	                                                          Logical NOT	
and	                                                          AND	
or	                                                          OR

- If two operators have the same precedence, the expression is evaluated from left to right.

In [8]:
#Addition + and subtraction - has the same precedence, and therefore we evaluate the expression from left to right:

print(5 + 4 - 7 + 3)

5