### Store and display student information (name, age, grade)

In [ ]:

def display_student(student):
    print(f"Name: {student[0]}, Age: {student[1]}, Grade: {student[2]}")

student = ("Rahul", 20, "A")
display_student(student)

### List prices of grocery items and total them

In [ ]:

def total_prices(prices):
    return sum(prices)

grocery_prices = (25, 50, 20, 45)
print(f"Grocery Prices: {grocery_prices}")
print(f"Total: {total_prices(grocery_prices)}")

### Pair items with prices using tuples

In [ ]:

items = (("Milk", 25), ("Eggs", 50), ("Bread", 20))
for item, price in items:
    print(f"Item: {item}, Price: {price}")

### Store and display train schedule as tuples

In [ ]:

schedule = (("Rajdhani", "10:00"), ("Shatabdi", "12:30"), ("Duronto", "17:00"))
for train, time in schedule:
    print(f"Train: {train}, Time: {time}")

### Sort employee records by salary

In [ ]:

employees = (("John", 40000), ("Alice", 55000), ("Raj", 30000))
sorted_employees = sorted(employees, key=lambda x: x[1])
for name, salary in sorted_employees:
    print(f"Employee: {name}, Salary: {salary}")

### Count how many students scored above 75 marks

In [ ]:

marks = (67, 88, 92, 74, 76, 55)
count = sum(1 for mark in marks if mark > 75)
print(f"Number of students scoring above 75: {count}")

### Create a tuple of stock prices and find the max

In [ ]:

prices = (154.5, 160.2, 149.8, 170.1)
print(f"Maximum Stock Price: {max(prices)}")

### Log temperature readings during the day and find the average temperature

In [ ]:

temperatures = (29.5, 30.0, 32.2, 31.5, 28.9)
average_temp = sum(temperatures) / len(temperatures)
print(f"Average Temperature: {average_temp:.2f}Â°C")

### Schedule appointments (name, time)

In [ ]:

appointments = (("Doctor", "10:00 AM"), ("Meeting", "2:00 PM"))
for name, time in appointments:
    print(f"Appointment: {name} at {time}")

### Store contact info (name, phone number)

In [ ]:

contacts = (("Anil", "9876543210"), ("Priya", "9123456780"))
for name, number in contacts:
    print(f"Name: {name}, Phone: {number}")

### Display exam schedule with subject and time

In [ ]:

exams = (("Math", "9:00 AM"), ("Science", "11:30 AM"), ("English", "2:00 PM"))
for subject, time in exams:
    print(f"Subject: {subject}, Time: {time}")